---
---

@import "{{ site.theme }}";

section {
    padding: 0px 0px 50px 0px;
}

code {
    padding: 0;
    margin: 0;
}

:root {
    color-scheme: dark;
}

h1,h2,h3,h4,h5,h6 {
    color: rgb(240, 230, 210);
    font-family: 'Beaufort', 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    color: #C8AA6E !important;
    font-family: 'Beaufort', 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 600;
}

a {
    color: rgb(200, 155, 60);
}

code {
    color: #C8AA6E !important;
}

body {
    background: #010B13 !important;
    color: rgb(240, 230, 210);
    font-family: "Spiegel", "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    line-height: 1.5;
}

@font-face {
    font-family: 'Spiegel';
    src: url('/assets/fonts/SpiegelSans-5Regular_TRIAL.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spiegel';
    src: url('/assets/fonts/SpiegelSans-5RegularItalic_TRIAL.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spiegel';
    src: url('/assets/fonts/SpiegelSans-6SemiBold_TRIAL.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spiegel';
    src: url('/assets/fonts/SpiegelSans-6SemiBoldItalic_TRIAL.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spiegel';
    src: url('/assets/fonts/SpiegelSans-7Bold_TRIAL.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spiegel';
    src: url('/assets/fonts/SpiegelSans-7BoldItalic_TRIAL.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Spiegel';
    src: url('/assets/fonts/SpiegelSans-8ExtraBold_TRIAL.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spiegel';
    src: url('/assets/fonts/SpiegelSans-8ExtraBoldItalic_TRIAL.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Beaufort';
    src: url('/assets/fonts/Beaufort-Medium.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}


@font-face {
    font-family: 'Beaufort';
    src: url('/assets/fonts/Beaufort-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}