---
---

@import "{{ site.theme }}";

section {
    padding: 0px 0px 50px 0px;
}

code {
    padding: 0;
    margin: 0;
}

:root {
    color-scheme: dark;
}

h1,h2,h3,h4,h5,h6 {
    color: rgb(240, 230, 210);
    font-family: 'Beaufort', 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
}

h3 {
    color: #C8AA6E !important;
    font-family: 'Beaufort', 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 600;
}

a {
    color: rgb(200, 155, 60);
}

code {
    color: #C8AA6E !important;
}

body {
    background: #010B13 !important;
    color: rgb(240, 230, 210);
    font-size: 14px;
    line-height: 1.5;
}

iframe {
    margin: 0 0 20px;
    max-width: 100%;
}

.MathJax_Display {
    max-width: 100% !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

@font-face {
    font-family: 'Beaufort';
    src: url('/assets/fonts/Beaufort-Medium.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}


@font-face {
    font-family: 'Beaufort';
    src: url('/assets/fonts/Beaufort-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

.overflow table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
}

blockquote {
    border-left: 3px solid #C8AA6E;
}

section #title p {
    color: rgb(160, 155, 140) !important;
    font-size: 16px !important;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-wrap: balance;
}