<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>A Quantification of Metagame Shifts in Professional League of Legends Gameplay</title>
    <meta name="title" content="A Quantification of Metagame Shifts in Professional League of Legends Gameplay">
    <meta name="description" content="Predicting game patch versions from draft picks and team compositions from 10 years of professional play" />
    <meta name="author" content="Jason Tran">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dsc80.enscribe.dev/" />
    <meta property="og:title" content="A Quantification of Metagame Shifts in Professional League of Legends Gameplay" />
    <meta property="og:description" content="Predicting game patch versions from draft picks and team compositions from 10 years of professional play" />
    <meta property="og:site_name" content="A Quantification of Metagame Shifts in Professional League of Legends Gameplay" />
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://dsc80.enscribe.dev/" />
    <meta name="twitter:title" content="A Quantification of Metagame Shifts in Professional League of Legends Gameplay" />
    <meta name="twitter:description" content="Predicting game patch versions from draft picks and team compositions from 10 years of professional play" />
    
    <link rel="canonical" href="https://dsc80.enscribe.dev/" />

    <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
    <link rel="manifest" href="/assets/images/site.webmanifest" />

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true
        }
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <meta name="color-scheme" content="dark">

    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">

      <section>
        <img src="../assets/images/visual.png" alt="Visual" style="padding-bottom: 10px;">
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
          <span class="credits left">Project by <a href="{{ site.github.owner_url }}">Jason Tran</a></span>
          <span class="credits right">Originally a <a href="https://ucsd.edu">UCSD</a> <a href="https://dsc80.com">DSC 80</a> project</span>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>